main {
  display: grid;
  grid-template-columns: auto auto auto;

  .elev-card {
    display: grid;
    background-color: #fff;
    margin: 100px 50px;
    width: 479px;
    height: 628px;
    border-radius: 5%;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);

    .avatar {
      display: grid;
      width: 35%;
      margin: 20px;
      border-radius: 100%;
      margin: 55px auto 0 auto;
    }

    .elev-navn {
      position: absolute;
      top: 34%;
      left: 8.5%;
      margin-bottom: 15px;
      letter-spacing: 1px;
      font-size: 28px;
      font-weight: 300;
      color: black;
      width: fit-content;
      height: fit-content;
    }

    .btn-edit {
      position: absolute;
      top: 42%;
      left: 9%;
      font-size: 15px;
      width: 14rem;
      height: 40px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      border: none;
      color: white;
      background-color: red;
      cursor: pointer;
      z-index: 0;

      &:hover {
        background-color: rgb(192, 3, 3);
        transition: 0.2s;
      }
    }

    .p-bio {
      display: grid;
      justify-self: center;
      width: 70%;
      text-align: left;
      margin-top: 130px;
      letter-spacing: 1px;
      line-height: 25px;
      color: black;
    }

    .icon {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      grid-gap: 20px;

      .fab {
        font-size: 32px;
        margin: 0 auto;
        color: #4c6ef5;
        width: fit-content;
        cursor: pointer;
      }

      .fas {
        font-size: 32px;
        margin: 0 auto;
        color: #4c6ef5;
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  .project-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 75px;
    justify-content: center;
    height: 40%;
    margin-top: 93px;
    align-items: center;

    .upload-new {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.3);
      width: 271px;
      height: 276px;
      cursor: pointer;

      input.upload {
        transform: translate(-50%, -50%);
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
        width: 100%;
        text-align: center;
      }

      .custom-span {
        display: grid;
        font-size: 100px;
        color: red;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }

    div img {
      width: 271px;
      height: 276px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }
  }
}
