body{
  margin: 0;
  overflow-x: hidden;
  }
  .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://techcollege.dk/media/kqdbbclv/oester_uttrup_vej_1_techcollege.jpg?anchor=center&mode=crop&width=1280&height=720&rnd=132230405143230000");
      height: 890px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  .logo{
  width: 500px;
  justify-content: center;
  margin-left: 690px;
  margin-top: 300px;
  }
  }
  
  .grid { 
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 10px;
      align-items: stretch;
      margin-left: -1px;
      }
    .grid img {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      max-width: 100%;
      opacity: 0.8;
      cursor: pointer;
    }
    .grid img:hover {
      box-shadow: 5px 5px 10px 0 rgb(0, 0, 0), 5px 5px 10px 0 rgb(0, 0, 0);
    }
    
    .web {
      position: absolute;
      top: 990px;
      left: -115px;
      transform: translate(50%, 50%);
      color: #FF4F4E;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
    }
    .medie{
      position: absolute;
      top: 990px;
      left: 320px;
      transform: translate(50%, 50%);
      color: #9B2872;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
    }
    .Digital{
      position: absolute;
      top: 990px;
      left: 810px;
      transform: translate(50%, 50%);
      color: #88B339;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
    }
    .tekniker{
      position: absolute;
      top: 1010px;
      left: 1305px;
      transform: translate(50%, 50%);
      color: #377AB5;
      font-size: 50px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
    }
    .pic1{
     height: 318px; 
     margin-top: 10px;
    }
    @media only screen and (max-width: 600px) {
   .web{
      position: absolute;
      top: 650px;
      left: -120px;
      transform: translate(50%, 50%);
      color: #FF4F4E;
      font-size: 60px;
      font-weight: bold;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
   } .medie{
      position: absolute;
      top: 1000px;
      left: -158px;
      transform: translate(50%, 50%);
      color:  #9B2872;
      font-size: 60px;
      font-weight: bold;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
   } .Digital{
      position: absolute;
      top: 1350px;
      left: -140px;
      transform: translate(50%, 50%);
      color:  #88B339;
      font-size: 60px;
      font-weight: bold;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
   } .tekniker{
      position: absolute;
      top: 1700px;
      left: -120px;
      transform: translate(50%, 50%);
      color:  #377AB5;
      font-size: 50px;
      font-weight: bold;
      text-shadow: 3px 2px 4px #231431;
      -webkit-text-stroke: 2px #000000;
   }
   .logo{
      float:right; 
      margin:0 40px 10px 15px;
      max-width: 80%;
      max-height: 100%;
      top: -300px;
      position: relative
  
      
   }
   .hero-image{
  height: 550px;
   }
  }
