* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  color: #555;
}

$th_red: #ff0000;
$th_black: #000;

body {
  margin: 0;
  padding: 0;
//   background-color: darken($th_red, 0%);
}


header {
  nav {
    background-color: $th_red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    }

    .btn-login {
      left: 76.5%;
      position: absolute;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: white;
      margin-top: 50px;
      font-size: 18px;
      transition: all 0.2s;

      &:hover {
        color: black;
      }
      // border-right: 2px solid white;
      // width: 115px;
    }
    .btn-registrer {
      left: 81.5%;
      position: absolute;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: white;
      margin-top: 50px;
      font-size: 18px;
      transition: all 0.2s;

      &:hover {
        color: black;
      }
    }

    .span-btn {
      position: absolute;
      height: 35px;
      width: 2px;
      background-color: white;
      left: 80.5%;
      top: 4.5%;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 150px;
      font-size: 40px;
      transition: all 0.2s;
      transform: translateX(-50%);

      li {
        transform: translateY(50px);
        opacity: 0;

        a {
          display: block;
          font-size: 2em;
          text-decoration: none;
          padding: 10px 0;
          text-align: center;
          color: #fff;
          font-weight: bold;
          transition: all 0.2s;

          &:hover {
            color: $th_black;
          }
        }
      }
    }
  }


.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 50px;
  top: 35px;
  cursor: pointer;

  .bar {
    width: 40px;
    height: 2px;
    margin: 11px auto;
    background-color: $th_black;
    transition: all 0.2s;

  }
}

#toggle:checked {
  & ~ nav {
    opacity: 1;
    visibility: visible;

    ul {
      li {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  & + label.toggle-btn {
    .bar {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(17px) rotate(45deg);
        background-color: white;
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        background-color: white;
      }
    }
  }
}
