.text {
  padding: 20px;
  width: 30%;
  height: 340px;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 9em;
  font-weight: bolder;
}

h1 {
  color: #FF0000;
  padding-top: 3em;
  padding-left: 4.5em;
}

@media screen and (max-width: 1080px) {
  .text {
    width: 100%;
    position: absolute;
    left: -59px;
  }
  .main {
    top: 600px;
    position: relative;
  }
  .content {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (300px 0)[2];
        grid-template-columns: repeat(2, 300px 0);
    width: 100%;
    visibility: visible;
    margin-left: -50%;
    background: none !important;
  }
  .pic {
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin: auto auto;
    padding-top: auto;
  }
  p {
    text-align: center;
    visibility: hidden;
  }
  h4 {
    visibility: hidden;
  }
  .btn {
    width: 7.1em;
    height: auto;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
  }
  .btn span {
    right: 8px;
    position: relative;
    text-align: center;
  }
  .row {
    width: auto;
    /* width of image (px or % or auto) */
    height: auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (25vh)[2];
        grid-template-columns: repeat(2, 25vh);
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
    overflow-x: hidden;
  }
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  .row {
    margin: 10px -16px;
  }
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide all elements by default */
  }
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  /* Style the buttons */
  .btn {
    border: black;
    outline: none;
    padding: 12px 16px;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
    color: aliceblue;
    -webkit-transform: scale(2);
            transform: scale(2);
    margin: 100px;
  }
  .btn:hover {
    background-color: #020000;
  }
  .btn.active {
    background-color: #666;
    color: white;
  }
  #searchbar {
    margin-left: 15%;
    padding: 15px;
    border-radius: 10px;
  }
  input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
  }
  /* When the input field gets focus, 
       change its width to 100% */
  input[type=text]:focus {
    width: 30%;
  }
  .footer {
    position: absolute;
    bottom: -200%;
    width: 100%;
    height: 8rem;
    background-color: #fafafa;
    left: -0%;
    border: 4px solid black;
  }
  .techcollege {
    left: 30%;
    position: relative;
    top: -30%;
    color: black;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=Projekter.css.map */